.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
}

[data-theme='light'] .LEDcell {
  background-color: var(--ifm-color-gray-200);
}

#flashWhite {
  animation: whiteAnimation 1.5s steps(1, end) infinite;
}

#breathWhite {
  animation: whiteAnimation 3s linear infinite;
}

#white {
  background: white;
}

#flashBlue {
  animation: blueAnimation 1.5s steps(1, end) infinite;
}

#breathBlue {
  animation: blueAnimation 3s linear infinite;
}

#breathGreen {
  animation: greenAnimation 3s linear infinite;
}

#blue {
  background: blue;
}

#yellow {
  background: yellow;
}

#green {
  background: limegreen;
}

#flashRed {
  animation: redAnimation 1.5s steps(1, end) infinite;
}

#flashRed3 {
  animation: red3flashAnimation 2s steps(1, start) infinite;
}

@keyframes whiteAnimation {
  0% {
    background: white;
  }
  50% {
    background: none;
  }
  100% {
    background: white;
  }
}

@keyframes blueAnimation {
  0% {
    background: blue;
  }
  50% {
    background: none;
  }
  100% {
    background: blue;
  }
}

@keyframes greenAnimation {
  0% {
    background: limegreen;
  }
  50% {
    background: none;
  }
  100% {
    background: limegreen;
  }
}

@keyframes redAnimation {
  0% {
    background: red;
  }
  50% {
    background: none;
  }
  100% {
    background: red;
  }
}

@keyframes red3flashAnimation {
  0% {
    background: none;
  }
  10% {
    background: red;
  }
  20% {
    background: none;
  }
  40% {
    background: red;
  }
  50% {
    background: none;
  }
  60% {
    background: red;
  }
  70% {
    background: none;
  }
  100% {
    background: none;
  }
}
